body {margin: 0; box-sizing: border-box;}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

/* ================================================================= */
/* ============================ CUSTOM ============================= */
/* ================================================================= */
:root {
  --button-accent: #0891b2;
  --button-text: white;
  --header-bg: #0008;
  --caption-bg: #0007;

  --visit-fg: black;
  --visit-bg: white;

  --link-inactive: gray;
  --link-active: lightblue;
  --footer-bg: #0008;
}
.App {
  height: 100%;
  width: 100%;

  /* border: 1px dotted yellow; */
}

/* DEBUG */
.content {
  border: 1px dotted lightskyblue;
  padding: 10px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
}
.card {
  background-color: lightcoral;
  height: 200px;
  width: 200px;
}

.footer {
  border: 1px dotted lightgreen;
}
/* =========================== OBJECTS ============================= */
/* ================================================================= */
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}

/* ============================ HEADER ============================= */
/* ================================================================= */
.header {
  border: 1px dotted orange;
  background-color: var(--header-bg);

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.store-title {
  color: dodgerblue;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #000000a8;
}
.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
a {
  color: var(--link-inactive);
  text-decoration: none;
  text-shadow: 4px 4px 4px #0008;
}
a:hover:not(.active) {filter: brightness(1.3);}
a.active {color: var(--link-active); font-weight: bold;}

/* ========================= MAIN LAYOUTS ========================== */
/* ================================================================= */
.main-layout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 85% 5%;

  background-position: center center;
  background-size: cover;
}
.main-layout.home {background-image: url('../assets/aquarium.jpg');}
.main-layout.shop {background-image: url('../assets/underwater.jpg');}

/* ========================== HOMEPAGE ============================ */
/* ================================================================= */
.homepage {display: flex; justify-content: center; align-items: center;}
.caption {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.caption-text {
  text-shadow: 4px 4px 4px #000a;
}
a.enter {
  text-shadow: none;
  padding: 10px 20px;
  border-radius: 2px;
  color: var(--visit-fg);
  background-color: var(--visit-bg);
}
a.enter:hover {
  box-shadow: inset 0 0 2px 2px #0003;
}

/* ========================= SHOP LAYOUT =========================== */
/* ================================================================= */
.shop-layout {overflow-y: auto;}
.categories {
  height: 100px;
  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .categories {flex-direction: column;}
}

/* ============================ ITEMS ============================== */
/* ================================================================= */
.item-list {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.item {
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
  justify-items: start;
  align-items: center;
  font-size: 20px;

}
.item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item>.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.item>.desc>.name {font-size: 20px;}
.item>.desc>.price {font-size: 16px;}

/* =========================== BUTTONS ============================= */
.quantity-container {
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}
button {
  user-select: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  color: var(--button-text);
  background-color: var(--button-accent);
}
button.add {width: 60px; font-weight: bold;}
button.adjust {
  padding: 3px 9px;
  font-size: 20px;
  color: var(--button-text);
  background-color: var(--button-accent);
}
button:hover {filter: brightness(1.1);}
button:active {filter: brightness(0.9);}

/* ============================= CART ============================== */
/* ================================================================= */

/* ============================ FOOTER ============================= */
/* ================================================================= */
.footer {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}