body {margin: 0; box-sizing: border-box;}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
  text-align: center;
}

/* ================================================================= */
/* ============================ CUSTOM ============================= */
/* ================================================================= */
:root {
  /* background-color: #282c34; */
  /* color: white; */
}
.App {
  height: 100%;
  width: 100%;

  /* border: 1px dotted yellow; */
  display: grid;
  grid-template-rows: 10% 85% 5%;
}

.header {
  border: 1px dotted orange;
}

.content {
  border: 1px dotted lightskyblue;
  padding: 10px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
}
.card {
  background-color: lightcoral;
  height: 200px;
  width: 200px;
}

.footer {
  border: 1px dotted lightgreen;
}
/* =========================== OBJECTS ============================= */
/* ================================================================= */
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}



/* ============================ HEADER ============================= */
/* ================================================================= */

/* ========================= MAIN LAYOUTS ========================== */
/* ================================================================= */

/* ============================ ITEMS ============================== */
/* ================================================================= */

/* =========================== BUTTONS ============================= */

/* ============================= CART ============================== */
/* ================================================================= */

/* ============================ FOOTER ============================= */
/* ================================================================= */