body {margin: 0; box-sizing: border-box;}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  color: white;
  text-align: center;
}

/* ============================ CUSTOM ============================= */
/* ================================================================= */
:root {
  /* background-color: #282c34; */
  /* color: white; */
}
.App {
  height: 100%;
  width: 100%;

  /* border: 1px dotted yellow; */
  display: grid;
  grid-template-rows: 10% 1fr 5%;
}

.header {
  border: 1px dotted orange;
}

.content {
  border: 1px dotted lightskyblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  background-color: lightcoral;
  height: 200px;
  width: 200px;
}

.footer {
  border: 1px dotted lightgreen;
}


/* ============================ HEADER ============================= */
/* ================================================================= */

/* ========================= MAIN LAYOUTS ========================== */
/* ================================================================= */

/* ============================ ITEMS ============================== */
/* ================================================================= */

/* =========================== BUTTONS ============================= */

/* ============================= CART ============================== */
/* ================================================================= */

/* ============================ FOOTER ============================= */
/* ================================================================= */