.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================ CUSTOM ============================= */
/* ================================================================= */
:root {
  --button-accent: #0891b2;
  --button-text: white;
  --header-bg: rgba(144, 238, 144, 0.192);

  --link-inactive: gray;
  --link-active: lightblue;
  --footer-bg: rgba(230, 212, 173, 0.247);
}
.main-layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

/* ============================ HEADER ============================= */
/* ================================================================= */
.header {
  background-color: var(--header-bg);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.store-title {
  color: dodgerblue;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #000000a8;
}
.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
a {color: var(--link-inactive);}
a.active {color: var(--link-active); font-weight: bold;}

/* ========================= MAIN LAYOUTS ========================== */
/* ================================================================= */
.shop-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
}
.shop-layout>* {
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* ============================ ITEMS ============================== */
/* ================================================================= */
.item-list {
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.item {
  width: 200px;
  height: 200px;
  /* box-shadow: 0 0 4px 4px #fff3; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 1fr 20%;
  grid-template-areas: 
    "name name"
    "img img"
    "price buy";
  justify-items: center;
  align-items: center;
  font-size: 20px;

  padding: 10px;
}
.item>.name {
  grid-area: name;
  font-weight: bold;
}
.item>img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* =========================== BUTTONS ============================= */
.quantity-container {
  /* border: 1px dotted white; */
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}
button {
  user-select: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  color: var(--button-text);
  background-color: var(--button-accent);
}
button.add {
  font-weight: bold;
}
button.adjust {
  padding: 3px 9px;
  font-size: 20px;
  color: var(--button-text);
  background-color: var(--button-accent);
}
button:hover {filter: brightness(1.1);}
button:active {filter: brightness(0.9);}
/* ============================= CART ============================== */
/* ================================================================= */
.cart-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.cart-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
button.checkout, button.reset {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 30px;
}
/* ============================ FOOTER ============================= */
/* ================================================================= */
.footer {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}